* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigasi {
    background-color: #3232bebc;
    width: 100%;
    height: 70px;
    color: white;
    position: fixed;
}

.logo {
float: left;
padding-top: 20px;
padding-bottom: 10px;
padding-left: 30px;
}

.banner {
    background-color: #3838d7bc;
    height: 600px;
    text-align: center;
    color: white;
}

.banner img{
    border-radius: 50%;
    height: 190px;
    border: 6px solid white;
    margin-top: 100px;
}

.banner h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 span:before{
    content: '';
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: rgb(125, 219, 251);
    font-family: 70px;
}

@keyframes gerak {
    0% {
        content: 'Welcome to';
    }

    50% {
        content: 'CombiMath!';
    }
    100% {
        content: 'Combination Matematics';
    }
}

.box-profil {
    text-align: center;
    color: #4a1db3bc;
    margin-top: 30px;
    align-content: center;
}

.box-kiri, .box-kanan {
    width: 350px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.box-kiri img, .box-kanan img {
    width: 100%;
    max-width: 290px;
    height: auto;
    border-radius: 8px;
}
.box-kiri:hover, .box-kanan:hover {
    background-color: lightgrey;
    color: white;
}

.box-profil h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.box-isi {
    text-align: center;
    color: #3b5999;
    margin: 0px auto;
    margin-top: 500px;
}

.box-kiri {
    width: 350px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.box-kiri img {
    width: 100%;
    max-width: 290px;
    height: auto;
    border-radius: 8px;
}
.box-kiri:hover {
    background-color: #3b5999;
    color: white;
}

.box-kiri:hover h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.box-kiri button {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    color: black;
}

.box-tengah {
    width: 350px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.box-tengah img {
    width: 100%;
    max-width: 290px;
    height: auto;
    border-radius: 8px;
}
.box-tengah:hover {
    background-color: #3b5999;
    color: white;
}

.box-tengah:hover h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

.box-tengah button {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    color: black;
}
.box-kanan {
    width: 350px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.box-kanan img {
    width: 100%;
    max-width: 290px;
    height: auto;
    border-radius: 8px;
}
.box-kanan:hover {
    background-color: #3b5999;
    color: white;
}

.box-kanan button {
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    color: black;
}